server {
  listen 80;
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  # Proxy API requests to backend
  location /register {
    proxy_pass http://backend:5000/register;
  }

  location /users {
    proxy_pass http://backend:5000/users;
  }
}
